<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PixelPic Home</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="menu-bar">
        <img class="home-logo" src="../static/utils/images/pixelpic_logo.png" alt="Pixel Pic">
        <div class="button-group">
            <button class="current">Home</button>
            <a href="{{ url_for('go_premium') }}"><button>Go Premium</button></a>
            <a href="{{ url_for('go_premium') }}"><button>Logout</button></a>
        </div>
    </div>
    <div class="home-column">
        <section class="home-describe">
            <p class="home-title">UPSCALE YOUR IMAGE</p>
            <p class="home-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </section>
       
        
        <section>
            <div class="photo">
               <input class="img" type="file" id="file" accept="image/*" onchange="updateUploadStatus()">
                <label class="imglbl" for="file">
                    <img class="imgicon" src="../static/utils/images/Imgicon.png">
                </label>
                <div class="Upscale">
                    <button class="UpscaleButt">UPSCALE</button>
                    <span class="upload-status"></span>
                </div>
            </div>
        </section>
        
        <script>
            function updateUploadStatus() {
                var fileInput = document.getElementById('file');
                var uploadStatus = document.querySelector('.upload-status');
                if (fileInput.files.length > 0) {
                    var fileSize = fileInput.files[0].size / 1024 / 1024; // size in MB
                    uploadStatus.textContent = 'Photo has been uploaded. ' + fileSize.toFixed(2) + ' MB';
                } else {
                    uploadStatus.textContent = '';
                }
            }
        </script>
        
    </div>
</body>
</html>